@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600');
@import 'vars';
@import 'pxu-branding';
@import 'notifications';
@import 'save-bar';
@import 'accordion-menu';

body {
  margin: {
    top: 30px;
    right: 50px;
    left: 50px;
  }

  font-family: $font-primary;
  background-color: $color-body-background;
}

.app-title {
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 300;
}

.section-title {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 500;
}

.container {
  overflow: auto;
  background-color: $color-background;
  border-radius: 3px;
  box-shadow: 0 2px rgba(0, 0, 0, 0.07);
}

.field {
  display: flex;
  margin-top: 28px;
  margin-bottom: 28px;
}

.label {
  width: 210px;
  margin-right: 18px;
  padding-top: 10px;
  font-size: 14px;
  text-align: right;
  color: $color-body-light;
}

.control {
  width: 370px;
}

.input {
  width: 100%;
  height: 34px;
  padding-left: 9px;
  font-family: $font-primary;
  font-size: 14px;
  color: $color-black;
  border-radius: 3px;
  border: 1px solid $color-border;
  box-sizing: border-box;

  &::placeholder {
    color: $color-muted;
  }
}

.select {
  width: 100%;
  height: 34px;
  padding-right: 9px;
  padding-left: 9px;
  font-family: $font-primary;
  font-size: 14px;
  color: $color-black;
  border-radius: 3px;
  border: 1px solid $color-border;
  background-color: $color-background;
}

.help {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 12px;
  line-height: 16px;
  color: $color-body-light;
}

// Buttons
.button {
  padding: 8px 16px;
  font-size: 15px;
  line-height: 23px;
  background-color: transparent;
  border-radius: 3px;
  border: 1px solid transparent;
  -webkit-appearance: none;
  cursor: pointer;
}

.button-primary {
  color: $color-text-button;
  background-color: $color-button-primary;

  &:hover,
  &:disabled {
    background-color: $color-button-primary-hover;
  }
}

.button-secondary {
  color: $color-primary-2;

  &:hover {
    color: $color-button-primary;
  }
}
