@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600');
@import 'pxu-branding';

$background-color: #fff;
$body-background-color: #f6f7f9;
$border-color: #D7D6D9;
$input-color: #212b36;
$label-color: #666;
$placeholder-color: #ccc;

$primary-font: 'Source Sans Pro', sans-serif;

html, body {
  margin: {
    top: 30px;
    right: 50px;
    left: 50px;
  }

  font-family: $primary-font;
  background-color: $body-background-color;
}

.app-title {
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 300;
}

.section-title {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 500;
}

.container {
  overflow: auto;
  background-color: $background-color;
  border-radius: 3px;
  box-shadow: 0 2px rgba(0, 0, 0, 0.07);
}

.field {
  display: flex;
  margin-top: 28px;
  margin-bottom: 28px;
}

.label {
  width: 210px;
  margin-right: 18px;
  padding-top: 10px;
  font-size: 14px;
  text-align: right;
  color: $label-color;
}

.control {
  width: 370px;
}

.input {
  width: 100%;
  height: 34px;
  padding-left: 9px;
  font-family: $primary-font;
  font-size: 14px;
  color: $input-color;
  border-radius: 3px;
  border: 1px solid $border-color;
  box-sizing: border-box;

  &::placeholder {
    color: $placeholder-color;
  }
}

.select {
  width: 100%;
  height: 34px;
  padding-right: 9px;
  padding-left: 9px;
  font-family: $primary-font;
  font-size: 14px;
  color: $input-color;
  border-radius: 3px;
  border: 1px solid $border-color;
  background-color: $background-color;
}

.help {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 12px;
  line-height: 16px;
}
